body{
    background-color: #f5f6f7;
}
h1{
    text-align: center;
    font-size: 48px;
}
button{
    width: 150px;
    height: 35px;
    margin-top: 0px;
    font-size: 16px;
    color: #ffffff;
    background-color: #16a085;
    text-align: center;
    padding: 10px;
}
li{
    font-size: 25px;
    font-family: 'Georgia, "Times New Roman", Times, serif';
    background-color: white;
    height: 35px;
    color: darkcyan;
    text-align: center;   
    list-style: none;
    margin-bottom: 30px; 
}
button:hover{
    background-color: #1abc9c;
    color: white;  
} 
#text{
  width:900px;  
  height: 25px;
}